<footer class="fs-07 content-footer footer bg-footer-theme">
    <div class="container-xxl">
      <div
        class="footer-container d-flex align-items-center justify-content-between py-3 flex-md-row flex-column">
        <div class="text-body mb-2 mb-md-0">
          Developed with love by <a href="https://www.ajappdev.com/" target="_blank">Ajappdev</a> ©
          <script>
            document.write(new Date().getFullYear());
          </script>
          All Rights Reserved. Theme by <a href="https://themeselection.com" target="_blank" class="footer-link fw-medium">ThemeSelection</a>
        </div>
        <div class="d-none d-lg-inline-block">
          <a target="_blank" href="{% url 'terms_and_conditions' %}" class="footer-link me-3" target="_blank">Terms and conditions</a>
          <a target="_blank" href="{% url 'privacy_policy' %}" class="footer-link me-3">Privacy policy</a>
          <a target="_blank" href="{% url 'cookies_policy' %}" class="footer-link me-3">Cookies policy</a>
          <a target="_blank" href="{% url 'about' %}" class="footer-link me-3">About</a>

        </div>
      </div>
    </div>
  </footer>





