{% load static %}
<head>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-NJ2DP9CH');</script>
<!-- End Google Tag Manager -->

    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>{{page_title}}</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link href="{% static 'assets_landing/img/favicon.png' %}" rel="icon">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" />
	
	<link href="{% static 'fontawesome_free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&ampdisplay=swap"
      rel="stylesheet" />

    <link rel="stylesheet" href="{% static 'md_template/assets/vendor/fonts/materialdesignicons.css' %}" />

    <!-- Menu waves for no-customizer fix -->
    <link rel="stylesheet" href="{% static 'md_template/assets/vendor/libs/node-waves/node-waves.css' %}" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="{% static 'md_template/assets/vendor/css/core.css' %}" class="template-customizer-core-css" />
    <link rel="stylesheet" href="{% static 'md_template/assets/vendor/css/theme-default.css' %}" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="{% static 'md_template/assets/css/demo.css' %}" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="{% static 'md_template/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}" />
    <link rel="stylesheet" href="{% static 'md_template/assets/vendor/libs/apex-charts/apex-charts.css' %}" />

    <!-- Page CSS -->

    <!-- Helpers -->
    <script src="{% static 'md_template/assets/vendor/js/helpers.js' %}"></script>
    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="{% static 'md_template/assets/js/config.js' %}"></script>
        <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" />
	
	<link href="{% static 'fontawesome_free/css/all.min.css' %}" rel="stylesheet" type="text/css">


  </head>