{% load static %}
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<!-- Core JS -->
<!-- build:js assets/vendor/js/core.js -->
<script src="{% static 'md_template/assets/vendor/libs/popper/popper.js' %}"></script>
<script src="{% static 'md_template/assets/vendor/js/bootstrap.js' %}"></script>
<script src="{% static 'md_template/assets/vendor/libs/node-waves/node-waves.js' %}"></script>
<script src="{% static 'md_template/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
<script src="{% static 'md_template/assets/vendor/js/menu.js' %}"></script>

<!-- endbuild -->

<!-- Vendors JS -->
<script src="{% static 'md_template/assets/vendor/libs/apex-charts/apexcharts.js' %}"></script>

<!-- Main JS -->
<script src="{% static 'md_template/assets/js/main.js' %}"></script>

<!-- Page JS -->
<script src="{% static 'md_template/assets/js/dashboards-analytics.js' %}"></script>

<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
<script type="text/javascript" src="{% static 'assets/js/custom.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/js_translator.js' %}"></script>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g==" crossorigin="anonymous" referrerpolicy="no-referrer" />