{% load i18n %}
{% load static %}



<!DOCTYPE html>

<html
  lang="en"
  class="light-style layout-wide customizer-hide"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="{% static 'md_template/assets/'%}"
  data-template="vertical-menu-template-free">

  {% include 'registration/widgets/head.html' %}

  <body>
    <!-- Content -->

    <div class="position-relative">
      <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner py-4">
          <!-- Logo -->
          <div class="card p-2">
            <!-- Forgot Password -->
            <div class="app-brand justify-content-center">
              {% include 'widgets/logo.html' with height='40' mt='5' %}
            </div>
            <!-- /Logo -->
            <div class="card-body mt-2">
              <h4 class="mb-2">{% trans "Success" %} ✔️</h4>
              <p class="mb-4">{% trans "The password has been changed! You can now log in using your new password" %}</p>
              <div class="text-center">
                <a href="{% url 'login' %}" class="d-flex align-items-center justify-content-center">
                  <i class="mdi mdi-chevron-left scaleX-n1-rtl mdi-24px"></i>
                  {% trans "Back to login" %}
                </a>
              </div>
            </div>
          </div>
          <!-- /Forgot Password -->

          {% include 'registration/widgets/bottom-images.html' %}

        </div>
      </div>
    </div>

    <!-- / Content -->

    <!-- Core JS -->
    {% include 'registration/widgets/scripts.html' %}
  </body>
</html>

