

{% load i18n %}
{% load static %}



<!DOCTYPE html>

<html
  lang="en"
  class="light-style layout-wide customizer-hide"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="{% static 'md_template/assets/'%}"
  data-template="vertical-menu-template-free">
  {% include 'registration/widgets/head.html' %}

  <body>
    <!-- Content -->

    <div class="position-relative">
      <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner py-4">
          <!-- Logo -->
          <div class="card p-2">
            <!-- Forgot Password -->
            <div class="app-brand justify-content-center">
              {% include 'widgets/logo.html' with height='40' mt='5' %}
            </div>
            <!-- /Logo -->
            <div class="card-body mt-2">
                {% if validlink %}
              <h4 class="mb-2">{% trans "Change your password" %} 🔒</h4>
              <p class="mb-4">{% trans "Please enter and confirm your new password" %}</p>
              <form id="formAuthentication" method='post' class="mb-3" action="">

                {% csrf_token %}
                <!-- Email input -->
                {% if form.new_password1.errors %}

                <div class="alert alert-danger alert-dismissible" role="alert">
                  {{ form.new_password1.errors }}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                  </button>
                </div>

                {% elif form.new_password2.errors %}


                <div class="alert alert-danger alert-dismissible" role="alert">
                  {{ form.new_password2.errors }}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                  </button>
                </div>

                {% endif %}

                <div class="mb-3 form-password-toggle">
                    <div class="input-group input-group-merge">
                        <div class="form-floating form-floating-outline">
                        <input
                            type="password"
                            class="form-control"
                            id="id_new_password1"
                            name="new_password1"
                            placeholder="{% trans 'Enter your new password:' %}"
                            autofocus />
                        <label>{% trans "New password:" %}</label>
                        </div>
                        <span class="input-group-text cursor-pointer"><i class="mdi mdi-eye-off-outline"></i></span>
                    </div>
                </div>
                <div class="mb-3 form-password-toggle">
                    <div class="input-group input-group-merge">
                        <div class="form-floating form-floating-outline">
                            <input
                            type="password"
                            class="form-control"
                            id="id_new_password2"
                            name="new_password2"
                            placeholder="{% trans 'Confirm your new password:' %}"
                            autofocus />
                            <label>{% trans "Confirm password:" %}</label>
                        </div>
                        <span class="input-group-text cursor-pointer"><i class="mdi mdi-eye-off-outline"></i></span>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary d-grid w-100">{% trans "Change my password" %}</button>
              </form>
              {% else %}
                <h4 class="mb-2">{% trans "Password reset failed" %} ❌</h4>
                <p class="mb-4">{% trans "The password reset link was invalid, possibly because it has already been used. Please request a new password reset." %}</p>
              {% endif %}
              <div class="text-center">
                <a href="{% url 'login' %}" class="d-flex align-items-center justify-content-center">
                  <i class="mdi mdi-chevron-left scaleX-n1-rtl mdi-24px"></i>
                  {% trans "Back to login" %}
                </a>
              </div>

            </div>
          </div>
          <!-- /Forgot Password -->
          {% include 'registration/widgets/bottom-images.html' %}
        </div>
      </div>
    </div>

    <!-- / Content -->

    <!-- Core JS -->
    {% include 'registration/widgets/scripts.html' %}
  </body>
</html>

