
Hello,

We hope this email finds you well. Recently, a request to change the password for your account was initiated. If you did not initiate this change, please contact our support team immediately.
    
If you did request a password change, please follow the link below to reset your password:
    
{{ protocol}}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
    
For security purposes, this link will expire within a specific timeframe. If you encounter any issues or have concerns, please don't hesitate to reach out to our support team at contact@certidrill.com.
    
Thank you for your prompt attention to this matter. We appreciate your commitment to maintaining the security of your account.
    
Best regards,
    
Certidrill team,

