{% load static %}
<img
src="{% static 'md_template/assets/img/illustrations/tree-3.png'%}"
alt="auth-tree"
class="authentication-image-object-left d-none d-lg-block" />
<img
src="{% static 'md_template/assets/img/illustrations/auth-basic-mask-light.png'%}"
class="authentication-image d-none d-lg-block"
alt="triangle-bg"
data-app-light-img="illustrations/auth-basic-mask-light.png"
data-app-dark-img="illustrations/auth-basic-mask-dark.png" />
<img
src="{% static 'md_template/assets/img/illustrations/tree.png'%}"
alt="auth-tree"
class="authentication-image-object-right d-none d-lg-block" />