{% load i18n %}
{% load humanize %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

{% include 'landing/widgets/head.html' %}

<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NJ2DP9CH"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
  <!-- ======= Header ======= -->
  {% include 'landing/widgets/header.html' %}
  <!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Cookies Policy</h2>
        </div>

      </div>
    </section><!-- End Breadcrumbs Section -->

    <section class="inner-page">
      <div class="container">
        
        <h4>General Information about Cookies</h4>

        <p>User trust is important to us, and therefore, at Certidrill, we are concerned about protecting your
            privacy. An essential aspect of this is providing you with as much information as possible about how we use
            your personal data, including how we use local data storage and similar technology.</p>
    
        <p>Local data storage involves storing various types of data locally on your device through your web browser.
            Locally stored data may, for example, contain user settings, information about how you navigate our
            website, what web browser you use, which ads have been displayed, and similar behavior on websites we
            collaborate with. Locally stored data can be used to personalize the content and features in our services,
            making your visits more comfortable and meaningful.</p>
    
        <!-- More content... -->
    
        <h4>Additional Cookie Information</h4>
    
        <p>We use local data storage for various purposes, such as enabling us to carry out our services, providing
            you with relevant, personalized content when you visit our websites, measuring and analyzing traffic on our
            website, improving our services, and delivering specific advertising. Below are more details on these
            topics:</p>
    
        <!-- More content... -->
    
        <h5>For Advertising</h5>
    
        <p>We use local data storage in connection with advertising activities. This allows us to know if and how often
            the user has seen an ad or a specific type of ad, and how much time has passed since they viewed it. We
            also use local data storage to build segments and target groups for marketing purposes and to deliver
            specific ads.</p>
    
        <!-- More content... -->
    
        <h5>To Analyze and Improve Our Services</h5>
    
        <p>We use various measurement tools that provide statistics and analysis regarding our services. These tools
            allow us to recognize the web browser over time and determine if the user has visited the website before
            and how often. This information helps us gain an overview of the number of unique users we have and how
            they use our services. We use the collected and analyzed information to develop and improve our services,
            identifying high-traffic services or ensuring optimal service performance.</p>
    
        <!-- More content... -->
    
        <h5>To Deliver and Adapt Services to Your Use</h5>
    
        <p>Local data storage is required and necessary to allow you to use our services, providing information about
            your settings, indicating how the services should be presented in your web browser. We also use local data
            storage to adapt our services to your use as effectively as possible.</p>
    
        <!-- More content... -->
    
        <h5>Cookie Management</h5>
    
        <p>You can disable cookies or configure your browser to notify you when a cookie is sent to you. Your browser
            settings typically display a list of all cookies that have been stored, giving you an overview and the
            option to delete unwanted cookies. You can usually indicate whether you accept the storage of cookies from
            the websites you visit or third parties affiliated with these websites. You can also choose to be notified
            each time a new cookie is stored. Guidance on how to do this in different web browsers is provided
            below.</p>
    
            <h6>Google Chrome</h6>

            <p><strong>How to delete cookies:</strong></p>
            <ol>
                <li>Go to Settings in your browser menu.</li>
                <li>Click on Privacy and security.</li>
                <li>Click on Clear browsing data.</li>
                <li>Select the time range for which you want to delete the data from the top menu. To delete all cookies, click All time.</li>
                <li>Check Cookies and other site data.</li>
                <li>Click Clear data.</li>
                <li>Close the window.</li>
            </ol>
        
            <p><strong>How to prevent cookies from being stored in your web browser:</strong></p>
            <ol>
                <li>Go to Settings in your browser menu.</li>
                <li>Click on Privacy and security and then click on Site settings.</li>
                <li>Under Cookies, select your preferred option. To prevent all cookies, toggle the switch for Block third-party cookies.</li>
                <li>Close the window.</li>
            </ol>


            <h6>Safari</h6>

            <p><strong>How to delete cookies:</strong></p>
            <ol>
                <li>Go to Preferences in your browser menu.</li>
                <li>Click on the Privacy tab.</li>
                <li>Click on Remove All Website Data and then click Remove to delete all cookies.</li>
                <li>Close the window.</li>
            </ol>
        
            <p><strong>How to prevent cookies from being stored in your web browser:</strong></p>
            <ol>
                <li>Go to Preferences in your browser menu.</li>
                <li>Click on the Privacy tab.</li>
                <li>Under Cookies and website data, select your preferred option. If you want to prevent all cookies from being stored, click Always block.</li>
                <li>Close the window.</li>
            </ol>
        
            <!-- Instructions for Mozilla Firefox -->
            <h6>Mozilla Firefox</h6>
        
            <p><strong>How to delete cookies:</strong></p>
            <ol>
                <li>Go to Options in your browser menu.</li>
                <li>Click on the Privacy tab.</li>
                <li>Click Show Cookies.</li>
                <li>Select the cookies you want to delete and click Remove Selected. Click Remove All if you want to delete all cookies in your web browser.</li>
                <li>Close the window. Any changes you made will be saved automatically.</li>
            </ol>
        
            <p><strong>How to prevent cookies from being stored in your web browser:</strong></p>
            <ol>
                <li>Go to Settings in your browser menu.</li>
                <li>Select the Privacy tab.</li>
                <li>Under History, click on Use custom settings for history.</li>
                <li>Select your preferred options under Accept cookies from websites. If you want to prevent all cookies from being stored, uncheck Accept cookies from websites.</li>
                <li>Close the window. Any changes you made will be saved automatically.</li>
            </ol>


            <h6>Internet Explorer</h6>

            <p><strong>How to delete cookies:</strong></p>
            <ol>
                <li>Go to Tools (gear icon) in your browser menu.</li>
                <li>Click on Internet Options.</li>
                <li>In the General - Browsing history tab, click Delete.</li>
                <li>Make sure to check the box for Cookies and website data.</li>
                <li>Click Delete.</li>
                <li>Click OK.</li>
            </ol>
        
            <p><strong>How to prevent cookies from being stored in your web browser:</strong></p>
            <ol>
                <li>Go to Tools (gear icon) in your browser menu.</li>
                <li>Click on Internet Options and then the Privacy tab.</li>
                <li>Move the slider to your desired level. If you want to prevent all cookies from being stored, select Block All Cookies.</li>
                <li>Click OK.</li>
            </ol>

            <h6>Opera</h6>

            <p><strong>How to delete cookies:</strong></p>
            <ol>
                <li>Go to Settings in your browser menu.</li>
                <li>Select the Privacy and Security tab.</li>
                <li>Click on Cookies and then click All cookies and site data.</li>
                <li>Select the cookies you want to delete and click Remove. Click Clear all if you want to delete all cookies in your web browser.</li>
                <li>Click Done.</li>
            </ol>
        
            <p><strong>How to prevent cookies from being stored in your web browser:</strong></p>
            <ol>
                <li>Go to Settings in your browser menu.</li>
                <li>Select the Privacy and Security tab.</li>
                <li>Under Cookies, select your preferred option. If you want to prevent all cookies from being stored, click Do not allow sites to save cookies.</li>
                <li>Close the window.</li>
            </ol>
        

        <!-- More content... -->
    
        <h4>Contact Information</h4>
    
        <p>For more transparency, if you have any questions regarding the use of local storage on our website, please
            contact us at <b><a href="mailto:contact@certidrill.com?subject=Cookie%20Policy">contact@certidrill.com</a></b>, indicating
            "Cookie Policy" in the subject line.</p>

      </div>


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  {% include 'landing/widgets/footer.html' %}
  <!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  {% include 'landing/widgets/scripts.html' %}


</body>

<style>

section
{
  padding: 20px;
}
h6
{
font-size:1.1em;
color: orange;
font-weight:600;
}
h4
{
 color: #366994;
 font-size:1.5em;
 font-weight:600;
}
h5
{
 color: black;
 font-size:1.2em;
 font-weight:600;
}


</style>

</html>