{% load i18n %}
{% load humanize %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

{% include 'landing/widgets/head.html' %}

<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NJ2DP9CH"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
  <!-- ======= Header ======= -->
  {% include 'landing/widgets/header.html' %}
  <!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Privacy Policy</h2>
        </div>

      </div>
    </section><!-- End Breadcrumbs Section -->

    <section class="inner-page">
      <div class="container">
        

        <p>At Certidrill (referred to as “Certidrill,” “us” or “we”), we recognize that your privacy is critical and
            have instored this version of our Privacy Policy (“Privacy Policy”).</p>
    
        <p>This Privacy Policy discloses the privacy practices for Certidrill’s websites, web applications, softwares,
            and mobile applications (collectively the “Website”), as well as related products and services we may offer to
            you (collectively, the “Services”).</p>
    
        <p>This Privacy Policy also covers how personal and other information that we receive about you is collected through
            your use of our Services and access to the Website.</p>
    
        <p>Please read the information in this Privacy Policy and learn the following regarding your use and access to this
            Website.</p>
    
        <p>Our Website may contain links to other websites and the practices, data gathering and retention policies of
            those websites are governed by the privacy policies of such other websites.</p>
    
        <p>You should review the privacy policies of any such websites to understand how those websites’ privacy policies
            apply to you.</p>
    
        <p>We reserve the right to change and update this Privacy Policy at any time.</p>
    
        <p>We will notify you about changes and updates in the way we treat Personal Information by sending you a notice to
            the primary email address specified in your user account, by deploying a prominent notice on our Website, and/or
            by updating any privacy information on this page.</p>
    
        <p>Your continued access and use of the Website and/or Services available through this Website after such
            modifications and updates will constitute your acknowledgment and acceptance of the modified Privacy Policy.</p>
    
        <p>To use the Website and/or Services available on this Website, you must give your consent so that all Personal
            Information and information that you submit may be processed and treated by us in the manner and for the
            objectives described below.</p>
    
        <p>If you do not agree with this Privacy Policy, please do not use the Website.</p>
    
    
        <h4>1. What type of data we collect?</h4>

        <p>In order to enhance our Website and the Services offered on the Website, we collect two kinds of data about our users and visitors: Personally Identifiable Information (“Personal Information”) and Aggregate Information.</p>
    
        <h5>1.1 Personal Information :</h5>
    
        <p>This refers to information that allows us to know the specifics of who you are.</p>
    
        <p>When you engage in certain activities on this Website, such as registering for a user account, downloading or purchasing a product or service, subscribing to our membership services, submitting content and/or posting content, or sending us feedback and questions, we may ask you to provide certain information about yourself.</p>
    
        <p>This information is necessary for the adequate performance of the contract between you and Us, to allow us to comply with our legal obligations and to provide and improve the features of this Website.</p>
    
        <p>Without this information, we may not be able to offer you the requested products or services.</p>
    
        <h6>1.1.1 Services/User Account</h6>
    
        <p>When you sign up for a user account, Certidrill will collect and associate with your user account your first and last name, date of birth, email address, mailing address (including zip code), cell phone, and payment information (such as payment instrument used, date and time, payment amount, payment instrument expiration date and billing postcode, IBAN information, your address, and other transaction-related details).</p>
    
        <h6>1.1.2 Other information</h6>
    
        <p>If you decide to use Certidrill forums, bulletin board services, chat areas, message boards, newsfeeds, newsgroups, communities, personal web pages, calendars, and/or other message or communication facilities, you may choose to provide us information when you fill in a form, conduct a search, respond to surveys, post to community forums.</p>
    
        <h6>1.1.3 Communication Services</h6>
    
        <p>If you use Certidrill forums, bulletin board services, chat areas, message boards, news feeds, newsgroups, communities, personal web pages, calendars, and/or other message or communication facilities, Certidrill will store your files, messages, comments, and photos, as well as any information related to it.</p>
        
        <h5>1.2 Aggregate Information :</h5>

        <p>This refers to information that does not by itself identify a specific individual or person.</p>
    
        <p>We collect certain information about you based on where you use and visit our Website and what other websites may have directed you to Certidrill.</p>
    
        <p>This information, which is gathered in different methods, is compiled and analyzed on both a personal and an aggregated basis.</p>
    
        <p>This information may include the Website’s Uniform Resource Locator (“URL”) that points to the site you just came from, which URL you go to after visiting our Website, what browser you are using, and your Internet Protocol address (“IP”).</p>

        <h4>2. How de we collect and use your information?</h4>

        <p>We collect Personal Information about you through the Website only if you voluntarily provide it to us.</p>
    
        <p>However, you may be required to provide certain Personal Information to us when you elect to use certain products or services available on the Website.</p>
    
        <p>This may include :</p>
    
        <ul>
            <li>Registering or activating a user account on our Website;</li>
            <li>Entering a sweepstake or contest sponsored by us or one of our partners;</li>
            <li>Signing up for special offers from selected third parties;</li>
            <li>Sending us an email message;</li>
            <li>Submitting a web form or transmitting other information by telephone or letter;</li>
            <li>Registering or attending an event affiliated with Certidrill or at which Certidrill participates;</li>
            <li>Submitting your credit card or other payment information when ordering and purchasing products and services on our Website or when subscribing to our services;</li>
        </ul>
    
        <p>We will only use your Personal Information in ways that are compatible with the objectives for which it was collected or as subsequently allowed by you.</p>
    
        <p>We will use your Personal Information to provide product or service offerings to you.</p>
    
        <p>We will also use certain forms of Personal Information to improve our Website, enhance our internal marketing and promotional efforts, statistically analyze the Website use, improve our product and service offerings, and customize our Website’s content, layout, design, and services.</p>
    
        <p>We may use Personal Information to deliver information to you and to contact you regarding administrative notices.</p>
    
        <p>Finally, we may use your Personal Information to resolve problems, disputes, troubleshoot problems, and enforce our agreements and contracts with you, including our Website Terms And Conditions, and this Privacy Policy.</p>


        <h4>3. Service providers and third parties</h4>

        <p>We sometimes hire third parties to perform certain business-related functions.</p>
    
        <p>When we hire a third party to perform a function of this nature, we may need to provide them with access to certain Personal Information.</p>
    
        <p>These third parties will access your information only to perform tasks on our behalf in compliance with this Privacy Policy, and Certidrill will remain responsible for their handling of your information per our instructions.</p>
    
        <p>Certidrill requires its agents and service providers that have access to Personal Information received by Certidrill to provide at least the same level of privacy protection required by this Privacy Policy.</p>
    
        <p>Where Certidrill has knowledge that an agent, third-party, or service provider is using Personal Information in a manner contrary to this Privacy Policy, Certidrill will take reasonable steps to prevent or stop the use or disclosure of such Personal Information.</p>
    
        <p>Service providers may be located inside or outside of the European Economic Area (“EEA”).</p>
    
        <h5>4. Information collected with technology</h5>
    
        <h6>4.1 Information collected by our servers :</h6>
    
        <p>To make our Website and Services more useful to you, our servers (which may be hosted by a third-party service provider) collect your information, including your browser type, operating system, Internet Protocol address (“IP”) (the number automatically assigned to your computer when you use the Internet, which may vary from session to session), domain name, and/or a date/time stamp of your visit.</p>
    
        <h6>4.2 Log Files :</h6>
    
        <p>As is true with most websites, we collect certain information automatically and store it in log files.</p>
    
        <p>This data includes IP addresses, browser type, Internet service provider (“ISP”), referring/exit pages, operating system, date/time stamp, and clickstream data.</p>
    
        <p>We use this information to analyze behaviors and trends, administer the Website, track users’ movements around the Website, gather demographic information about our visitor base as a whole, and better tailor our Services to our users’ needs.</p>
    
        <p>For example, some of the data may be collected so that when you visit the Website or the Services again, it will recognize you and the information could then be used to serve advertisements and other information considered appropriate towards your interests.</p>
    
        <p>Except as noted in this Privacy Policy, we do not link this automatically-collected data to Personal Information.</p>
    
        <h6>4.3 Cookies</h6>
    
        <p>Like many online services, we use cookies “Cookies” to collect information.</p>
    
        <p>Cookies are small pieces of information that a website sends to your computer’s hard drive while you are visiting the Website.</p>
    
        <p>We may use both session Cookies (which expire once you close your web browser) and persistent Cookies (which remain on your computer until you delete them) to provide you with a more personal and interactive experience on our Website.</p>
    
        <p>This type of data is collected to make the Website more useful to you and to tailor the experience with us to meet your special objectives, interests, and needs.</p>
    
        <p>Most browsers are initially set up to accept Cookies, but you can reset your browser to refuse all Cookies or to indicate when a cookie is being sent.</p>
    
        <p>However, be aware that some features and aspects of the Website may not function properly if you disable Cookies.‍</p>
    
        <h6>4.4 Pixel Tags</h6>
    
        <p>In addition, we use “Pixel Tags” (also referred to as clear Gifs, Web beacons, or Web bugs).</p>
    
        <p>Pixel Tags are tiny graphic images with a unique identifier, similar in function to Cookies, that are used to track online movements of Web users and visitors.</p>
    
        <p>Conversely to Cookies, which are stored on a user’s computer hard drive, Pixel Tags are embedded invisibly in web pages.</p>
    
        <p>Pixel Tags also allow us to send e-mail messages in a format that users can read, and they tell us whether e-mails have been opened to ensure that we are sending only messages that are of interest to our visitors and users.</p>
    
        <p>We may use this information to reduce or eliminate messages sent to a user.</p>
    
        <h6>4.5 Mobile Services</h6>
    
        <p>We may also collect non-Personal Information from your mobile device if you have visited our Website vie a mobile browser.</p>
    
        <p>This information is generally used to help us deliver the most relevant information to you.</p>
    
        <p>Examples of information that may be collected and used include your geographic location, how you use the mobile Website, and information about the type of device you use.</p>
    
        <p>In addition, in the event our Website crashes on your mobile device, we will receive information about your mobile device model software version and device carrier, which allows us to identify and fix bugs and otherwise enhance the performance of our mobile Website.</p>
    
        <p>This information is sent to us as aggregated information and is not traceable to any individual and cannot be used to identify an individual.</p>
    
        <h6>4.6 Analytics Tools</h6>
    
        <p>We use third-party analytics tools to help measure traffic and usage trends and behaviors for the Website and Services.</p>
    
        <h6>4.7 Location Information</h6>
    
        <p>If you have enabled location services on your phone, we collect your location data to make a map available to the recipients of your messages showing your location.</p>
    
        <p>If you do not want this information collected by us, you can disable location services on your phone.</p>

        <h4>5. Where do we store your personal information?</h4>

        <p>Your Personal Information will be stored and treated in our primary data store located in Tangier, Morocco.‍</p>
    
        <h4>6. How do we handle data from international users?</h4>
    
        <p>Certidrill is based in Morocco and provides services globally.</p>
    
        <p>We primarily store Personal Information about the Website visitors and users within the European Economic Area (the “EEA”), the United States, and in other countries and territories.</p>
    
        <p>To facilitate our global operations, we may transfer and access such Personal Information from around the world, including from other countries in which Certidrill has operations for the purposes described in this Privacy Policy.</p>
    
        <p>We may also transfer your Personal Information to our third-party sub-processors as detailed here, who may be located in a different country.</p>
    
        <p>If you are a European Union (EU) citizen and your information is shared with corporate affiliates or third-party service providers outside the EEA, we will, prior to sharing your information with such corporate affiliate or third-party service provider, establish the necessary means to ensure an adequate level of data protection.</p>
    
        <p>This may be an adequacy decision of the European Commission confirming an adequate level of data protection in the respective non-EEA country or an agreement on the basis of the EU Model Clauses (a set of clauses issued by the European Commission).</p>
    
        <p>We will provide more information on the means to ensure an adequate level of data protection upon request.</p>
    
        <p>If you are visiting our Website from the EEA or other regions with laws governing data collection and use, please note that you are agreeing to the transfer of your Personal Information to Morocco and other jurisdictions in which we operate.</p>
    
        <p>By providing your Personal Information, you consent to any transfer and processing in accordance with this Privacy Policy.</p>
    
        <p>Please note, that for Users from the EEA, all processing of Personal Information will be performed in accordance with the Regulation (EU) 2016/679 of the European Parliament and of the Council of 27 April 2016 on the protection of natural persons and Organic Law 3/2018 on the Protection of Personal Data and Guarantee of Digital Rights with regard to the processing of Personal Information and to the free movement of such data and the implementations of this Regulation in local legislation.</p>
    
        <h5>6.1 Data Processing Agreements</h5>
        <p>In compliance with the General Data Protection Regulation (GDPR), Certidrill recognizes the importance of ensuring that personal data is processed with the utmost care and in accordance with applicable data protection laws. When engaging third-party entities for data processing activities, Certidrill will establish Data Processing Agreements (DPAs) to govern the processing of personal data. These agreements outline the terms and conditions under which personal data will be processed, ensuring a high standard of data protection.</p>
        
        <!-- Lawful Bases for Processing -->
        <h5>6.2 Lawful Bases for Processing</h5>
        <p>Certidrill is committed to processing personal data lawfully, fairly, and transparently. The processing of personal data is based on one or more lawful grounds, as outlined in Article 6 of the GDPR. These grounds include the necessity of processing for the performance of a contract, compliance with legal obligations, protection of vital interests, consent, the performance of tasks carried out in the public interest or in the exercise of official authority, and the legitimate interests pursued by Certidrill or a third party.</p>
        
        <!-- Specific Requirements for International Data Transfers -->
        <h5>6.3 Specific Requirements for International Data Transfers</h5>
        <p>Certidrill operates globally, and as such, there may be instances where personal data is transferred internationally. To comply with the GDPR's requirements for international data transfers, Certidrill employs appropriate safeguards. These may include the use of Standard Contractual Clauses (SCCs), Binding Corporate Rules (BCRs), obtaining explicit consent from data subjects, or relying on specific adequacy decisions by the European Commission for the destination country. Certidrill ensures that any international data transfers are conducted with the highest regard for data protection standards.</p>
        
        <h4>7. How do we share Personal Information with others?</h4>
    
        <p>We will not sell, trade, or rent your Personal Information to others.</p>
    
        <p>If and whenever we intend to share your Personal Information with a third party (other than to a business partner as provided herein), you will be notified at the time of data collection or transfer, and you will have the option of not allowing the transfer.</p>
    
        <p>However, we may from time to time rent or sell demographic information in the aggregate which does not contain your Personal Information.</p>
    
        <p>We do provide some of our product and service offerings through contractual arrangements made with affiliates, service providers, partners, and other third parties (“third-party service providers”).</p>
    
        <p>We and our third-party service providers may need to use some Personal Information to perform tasks between our respective sites or to deliver products or services to you.</p>
    
        <p>For example, your credit card information may be released to the card-issuing bank to confirm payment for products and services purchased on this Website; or provide order information to third parties that help us provide customer service.</p>
    
        <p>We may share some or all of your Personal Information in connection with or during negotiation of any merger, financing, acquisition or dissolution, transaction or proceeding involving sale, transfer, divestiture or disclosure of all or a portion of our business or assets.</p>
    
        <p>In the event of an insolvency, bankruptcy, or receivership, Personal Information may also be transferred as a business asset.</p>
    
        <p>If another company acquires our company, business, or assets, that company will possess the Personal Information collected by us and will assume the rights and obligations regarding your Personal Information as described in this Privacy Policy.</p>
    
        <p>In certain circumstances, we may be required by public law enforcement or judicial authorities to provide Personal Information to the appropriate governmental authorities.</p>
    
        <p>In such cases, we will disclose Personal Information upon receipt of a court order, subpoena, or to cooperate with a law enforcement investigation or meet national security requirements.</p>
    
        <p>We may also disclose Personal Information if we believe it is necessary to protect or defend the rights or property of Certidrill or users of the Website or Services.</p>
    
        <p>We may also provide Aggregate Information about our customers’ sales, traffic patterns, and related Website information to third-party advertisers, but these statistics do not include any Personal Information.</p>
    
        <h4>8. What are your rights?</h4>
        <p>We may send you e-mails regarding new products and services that we feel may interest you.</p>
    
        <p>If you do not wish to receive emails of this nature, you may unsubscribe from the mail list using the “unsubscribe”
            feature that accompanies our emails or by contacting us at <b><a href="mailto:contact@certidrill.com?subject=Privacy%20Policy">contact@certidrill.com</a></b></p>
    
        <p>You also have choices with respect to Cookies, as described above.</p>
    
        <p>By modifying your browser preferences, you have the choice to accept all Cookies, to be notified when a cookie is
            set, or to reject all Cookies.</p>
    
        <p>If you choose to reject all Cookies some aspects of our Website may not work properly in such a case.</p>
    
        <p>In addition, if we propose to use your Personal Information for any purposes other than those described in this
            Privacy Policy and/or in the specific notice provided when you sign up for a certain component of our Services,
            we will offer you an effective way to opt-out of our use of your Personal Information for those other
            purposes.</p>
    
        <h5>8.1 Managing Your Personal Information</h5>
        <p>You may access and update your Personal Information through your account settings or by contacting us at
            <b><a href="mailto:contact@certidrill.com?subject=Privacy%20Policy">contact@certidrill.com</a></b></p>

            <h5>8.2 Data Access</h5>
            <p>You have the right to obtain from the controller confirmation as to whether or not your Personal Information is being
                processed, and, where that is the case, access to the Personal Information and relevant information.</p>
        
            <p>You also have the right to obtain a copy of the Personal Information undergoing processing.</p>
        
            <h5>8.3 Rectification of Inaccurate or Incomplete Information</h5>
            <p>You have the right to ask us to correct inaccurate or incomplete Personal Information.</p>
        
            <p>You have the right to ask us the erasure of Personal Information if:</p>
        
            <ul>
                <li>The Personal Information is no longer necessary in relation to the purposes for which it was collected or otherwise
                    processed and there is no other legal ground for the processing;</li>
                <li>You withdraw your consent or object to the processing of your Personal Information;</li>
                <li>The Personal Information have been unlawfully processed;</li>
                <li>The Personal Information have to be erased for compliance with a legal obligation to which the controller is
                    subject.</li>
            </ul>
        
            <p>You may also be entitled to request copies of Personal Information that you have provided to us in a structured,
                commonly used, and machine-readable format and/or request us to transmit this information to another service provider
                (where technically feasible).</p>
        
            <p>You may withdraw your consent at any time by changing your account settings or by sending us a communication specifying
                which consent you are withdrawing.</p>
        
            <p>Please note that the withdrawal of your consent does not affect the lawfulness of any processing activities based on
                such consent before its withdrawal.</p>
        
            <p>You have the right to limit the ways in which we use your Personal Information, in particular, where:</p>
        
            <ul>
                <li>You contest the accuracy of your Personal Information;</li>
                <li>The processing is unlawful and you oppose the use of your Personal Information;</li>
                <li>Certidrill no longer needs your Personal Information for the purposes of the processing, but you require the
                    information for the establishment, exercise, or defense of legal claims;</li>
                <li>You have objected to the processing for direct marketing purposes pending the verification whether the legitimate
                    grounds of the controller override those of the data subject.</li>
            </ul>
        
            <p>Where your Personal Information is processed for direct marketing purposes, including profiling, you may, at any time
                ask us to cease processing your Personal Information for these direct marketing purposes.</p>
        
            <p>You have the right to lodge complaints about the data processing activities carried out by Certidrill before the
                competent data protection authorities of your country.</p>
        
            <p>You may exercise any of the rights described in this section before by sending an email to
                <b><a href="mailto:contact@certidrill.com?subject=Privacy%20Policy">contact@certidrill.com</a></b></p>
        
            <p>Certidrill commits itself to respond to you within a maximum of 30 (thirty) days.</p>

            <h4>9. Restriction</h4>
            <p>Concerning the rights of the data subject described above, please note that the applicable laws may restrict the
                scope of the rights provided when such a restriction is a necessary and proportionate measure to safeguard:</p>
        
            <ul>
                <li>National and public security;</li>
                <li>The prevention, investigation, detection, or prosecution of criminal offenses or the execution of criminal
                    penalties;</li>
                <li>Other important objectives of general public interest;</li>
                <li>The protection of judicial independence and judicial proceedings;</li>
                <li>The prevention, investigation, detection, and prosecution of breaches of ethics for regulated professions;</li>
                <li>The monitoring and inspection of any regulatory function connected;</li>
                <li>The protection of the data subject or the rights and freedoms of others;</li>
                <li>The enforcement of civil law claims.</li>
            </ul>
        
            <h4>10. How do we secure your data and Personal Information?</h4>
            <p>Certidrill is committed to protecting the security of your Personal Information.</p>
        
            <p>We use a variety of industry-standard security technologies and procedures to help protect your Personal Information
                from unauthorized access, use, or disclosure.</p>
        
            <p>We also require you to enter a password to access your User Account information.</p>
        
            <p>Please do not disclose your User Account password to unauthorized people.</p>
        
            <p>No method of transmission over the Internet, or method of electronic storage, is 100% secure, however.</p>
        
            <p>Therefore, while Certidrill uses reasonable efforts to protect your Personal Information, Certidrill cannot
                guarantee its absolute security.</p>
        
            <h4>11. Data Retention</h4>
            <p>Certidrill will retain your Personal Information for as long as necessary towards the performance of the contract
                between you and us and to comply with our legal obligations.</p>
        
            <p>If your Personal Information is no longer required to fulfill contractual or statutory obligations, it will be
                deleted, unless its further processing is required for the following purposes:</p>
        
            <ul>
                <li>Preservation of records according to commercial and tax law or other legal obligations;</li>
                <li>Exercise the right of freedom of expression and information;</li>
                <li>Exercise or reply to any legal claims.</li>
            </ul>

            <h4>12. Information Security Breach and Data breach</h4>
            <p>Certidrill will notify you and the competent supervisory authority, immediately and in writing, of any infringements
                on processing of Personal Information, any breach of security leading to the accidental or unlawful destruction, loss,
                alteration, unauthorized disclosure of, or access to, Personal Information transmitted, stored or otherwise processed
                or any of the obligations specified in this Privacy Policy as well as information about initiatives to safeguard against
                a future security breach.</p>
        
            <h4>13. What exclusions are there to the Privacy Policy?</h4>
            <p>This Privacy Policy shall not apply to any unsolicited information you provide to us.</p>
        
            <p>This includes, but is not limited to, information posted in any public areas of our website, any ideas for new products
                or modifications to existing services, and other unsolicited submissions (collectively, “Unsolicited Information”),
                including all User Content, as that term is defined in Certidrill’s Terms And Conditions, that by its nature is
                accessible or intended to be accessible to other users of the Services.</p>
        
            <p>All such Unsolicited Information shall be deemed to be non-confidential and we shall be free to reproduce, use, disclose
                and distribute such Unsolicited Information to others without limitation or attribution.</p>
        
            <p>You should also be aware that when Personally Identifiable Information is voluntarily disclosed (i.e. your name, email
                address, etc.) in the discussion forums or other public areas on our Website, that information, along with any information
                disclosed in your communication, can be collected and used by third parties and may result in unsolicited messages
                (including unwanted spam messages) from third parties.</p>
        
            <p>Such activities are beyond our control and this Privacy Policy does not apply to such information.</p>
        
            <p>If you have any questions, concerns, or inquiries about our Privacy Policy, our use of your Personal Information, or our
                privacy practices, please contact us at <b><a href="mailto:contact@certidrill.com?subject=Privacy%20Policy">contact@certidrill.com</a></b></p>

      </div>


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  {% include 'landing/widgets/footer.html' %}
  <!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  {% include 'landing/widgets/scripts.html' %}


</body>

<style>

section
{
  padding: 20px;
}
h6
{
font-size:1.1em;
color: orange;
font-weight:600;
}
h4
{
 color: #366994;
 font-size:1.5em;
 font-weight:600;
}
h5
{
 color: black;
 font-size:1.2em;
 font-weight:600;
}


</style>

</html>