{% load i18n %}
{% load humanize %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

{% include 'landing/widgets/head.html' %}

<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NJ2DP9CH"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
  <!-- ======= Header ======= -->
  {% include 'landing/widgets/header.html' %}
  <!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Terms And Conditions</h2>
        </div>

      </div>
    </section><!-- End Breadcrumbs Section -->

    <section class="inner-page">
      <div class="container">
        
        <p>
            Welcome to Certidrill. We appreciate your interest in our services. Please carefully read the following terms and conditions, as they govern your use of <b>Certidrill.</b> By accessing or using our services, you acknowledge and agree to abide by these terms. If you disagree with any part of these terms, please refrain from using <b>Certidrill</b>.
        </p>

        <h5>1. No Provision of Professional Advice</h5>

                <p>
                    Certidrill, including its quizzes, educational content, and any communication from our platform, is intended for educational and informational purposes only. We do not hold ourselves out as providers of professional advice, consultancy, or any specialized expertise. The content provided by Certidrill is not substitute for professional advice, and users should not interpret it as such.
                </p>
                <p>
                    Certidrill does not create any professional-client relationship. Users are encouraged to consult with qualified professionals or subject matter experts to obtain advice tailored to their specific circumstances. Reliance on any information provided by Certidrill, its representatives, or within our platform is solely at the user's own risk.    
                </p>
                <p>
                    While we strive to ensure the accuracy and currency of our content, the dynamic nature of educational topics and the evolving landscape of various subjects mean that information may become outdated or inaccurate over time. Certidrill does not warrant or guarantee the completeness, correctness, or reliability of any information on our platform.    
                </p>
                <p>
                    Users should independently verify any information obtained from Certidrill before making decisions or taking any actions based on such information. Certidrill shall not be held liable for any loss or damage arising directly or indirectly from the use of our educational content or any information obtained through our services.    
                </p>
                <p>
                    Certidrill reserves the right to modify, update, or remove content on the platform without prior notice. Users are responsible for staying informed about changes to our content and terms of service.    
                </p>
                <p>
                    By using Certidrill, users acknowledge and agree to the limitations on the provision of professional advice outlined in this section. If users require professional advice or consultation, they are advised to seek the services of qualified professionals in the relevant field.    
                </p>
                <p>
                    If you have any questions or concerns regarding this provision or any other aspect of our services, please contact us at <b><a href="mailto:contact@certidrill.com?subject=Terms%20And%20Conditions">contact@certidrill.com</a></b>
                </p>

        <h5>2. Exam, Job Interview, and Certification Coverage</h5>

                <p>
                    Certidrill is dedicated to providing users with a robust educational experience, particularly in preparing for exams, job interviews, and certifications. This section outlines the scope and limitations of our commitment to exam, job interview, and certification coverage.
                </p>

            <h6>2.1 Comprehensive Quiz Content:</h6>

                <p>
                    a. Certidrill endeavors to offer a diverse range of quizzes covering subjects such as Python, Scrum, AWS, JavaScript, networking, operating systems, security, cloud computing, and more.
                </p>
                <p>
                    b. Our quizzes are designed to encompass various modules within each subject, ensuring a comprehensive exploration of key topics.
                </p>

            <h6>2.2 Three Types of Quizzes:</h6>

                <p>
                    a. Custom Quiz: Users can tailor their learning experience by selecting specific subjects and modules. The Certidrill quiz engine generates random questions within the selected modules, providing a personalized study session.
                </p>
                <p>
                    b. Premade Quiz: Certidrill proposes ready-made quizzes with pre-selected questions. These quizzes are crafted to address specific themes, such as 'Python developer job interview preparation' or 'AWS cloud entry questions.'
                </p>
                <p>
                    c. Certification Quiz: Tailored for users pursuing specific certifications, these quizzes feature questions commonly encountered in exams like PCAP Python certification, AWS Cloud Practitioner certification, and Scrum Master certification.
                </p>

            <h6>2.3 User Feedback and Insights:</h6>

                <p>
                    a. After completing a quiz, users receive detailed feedback, including the percentage of correct answers, identification of incorrect responses, and the option to review failed questions.
                </p>
                <p>
                    b. Certidrill provides competitive analysis, showcasing a user's position compared to others who have taken the same quiz.
                </p>
                <p>
                    c. Insights on areas for improvement are provided, guiding users to focus on specific topics to enhance their knowledge.
                </p>

            <h6>2.4 No Guarantee of Exam Coverage:</h6>

                <p>
                    a. While Certidrill strives to create quizzes that align with exam, job interview, and certification topics, we do not guarantee complete coverage of all material that may appear in a given exam, certification, or interview.
                </p>
                <p>
                    b. Users are encouraged to view Certidrill as a supplementary study tool and undertake additional study, practice exams, or coursework to ensure comprehensive exam preparedness.
                </p>

            <h6>2.5 Dynamic Content and Updates:</h6>

                <p>
                    a. Certidrill's content is dynamic, and we regularly update quizzes to align with changes in exam objectives, industry standards, and best practices.
                </p>
                <p>
                    b. Users are advised to check for updates to quizzes, ensuring that they are using the most current materials.
                </p>

            <h6>2.6 User Responsibility in Exam Preparation:</h6>

                <p>
                    a. Users bear the ultimate responsibility for their exam, job interview, and certification preparation and success. While Certidrill provides valuable resources, the effectiveness of study habits and strategies is an individual responsibility.
                </p>
                <p>
                    b. Certidrill recommends a holistic approach to exam, job interview, and certification preparation, combining our quizzes with other study materials, practice exams, and real-world application of knowledge.
                </p>

                <p>
                    By using Certidrill, users acknowledge and agree to the terms outlined in this section regarding exam and certification coverage. If users have questions or concerns regarding these terms, they are encouraged to contact us at <b><a href="mailto:contact@certidrill.com?subject=Terms%20And%20Conditions">contact@certidrill.com</a></b>.
                </p>

        <h5>3. Disclaimer of Responsibility</h5>

                <p>
                    Certidrill is committed to providing a valuable educational platform; however, users must understand and acknowledge certain limitations and disclaimers related to the use of our services. This section aims to clarify the scope of Certidrill's responsibilities and the shared understanding between the platform and its users.
                </p>

            <h6>3.1 Educational Nature:</h6>

                <p>
                    a. Certidrill provides educational content, quizzes, and materials for informational and learning purposes.
                </p>
                <p>
                    b. Users should view Certidrill as a supplementary educational tool and not a substitute for professional advice or comprehensive study practices.
                </p>

            <h6>3.2 No Professional Advice:</h6>

                <p>
                    a. Certidrill does not provide professional advice, consultancy, or specialized expertise.
                </p>
                <p>
                    b. Users should consult with qualified professionals or subject matter experts for advice tailored to their specific circumstances.
                </p>

            <h6>3.3 No Guarantee of Exam Outcomes:</h6>

                <p>
                    a. Certidrill does not guarantee specific outcomes in exams, job interviews, or certifications based on quiz performance.
                </p>
                <p>
                    b. Success in exams, job interviews, and certifications is influenced by various factors, including additional study, real-world application of knowledge, and external circumstances.
                </p>

            <h6>3.4 Exam and Certification Coverage Limitations:</h6>

                <p>
                    a. While Certidrill aims to cover a broad range of topics, we do not guarantee complete coverage of all material that may appear in a given exam, job interview, or certification.
                </p>
                <p>
                    b. Users are responsible for identifying and studying any additional topics specific to their exam, job interview, or certification requirements.
                </p>

            <h6>3.5 No Absolute Data Security Guarantee:</h6>

                <p>
                    a. Certidrill employs security measures to protect user data, but no system can guarantee absolute security.
                </p>
                <p>
                    b. Users acknowledge and accept the inherent risks related to data security and take shared responsibility for implementing secure practices.
                </p>

            <h6>3.6 External Factors Beyond Control:</h6>

                <p>
                    a. Certidrill is not responsible for external circumstances that may affect user access or platform functionality, including internet connectivity issues, device malfunctions, or disruptions in service.
                </p>
                <p>
                    b. Certidrill disclaims liability for interruptions, delays, or discontinuation of services caused by events beyond its reasonable control.
                </p>

            <h6>3.7 No Liability for Third-Party Content:</h6>

                <p>
                    a. Certidrill may provide links to third-party websites or integrate third-party content into the platform. Certidrill disclaims any responsibility for the accuracy, completeness, or legality of such third-party content.
                </p>
                <p>
                    b. Users access and use third-party content at their own risk.
                </p>

            <h6>3.8 Changes and Updates:</h6>

                <p>
                    a. Certidrill may update, modify, or remove content and features without prior notice.
                </p>
                <p>
                    b. Users are responsible for staying informed about changes to Certidrill's services and terms.
                </p>

                <p>By using Certidrill, users acknowledge and accept the disclaimers outlined in this section. If users have questions or concerns regarding these disclaimers, they are encouraged to contact us at <b><a href="mailto:contact@certidrill.com?subject=Terms%20And%20Conditions">contact@certidrill.com</a></b></p>


            <h5>4. Limitation of Liability</h5>

                <p>
                    Certidrill is committed to providing a reliable and valuable educational experience, and we seek to be transparent about the limitations of our liability. This section outlines the terms under which Certidrill and its affiliates assume or disclaim responsibility for various aspects of our services.
                </p>

                <h6>4.1 User Acknowledgment of Limitations:</h6>

                    <p>
                        a. Users acknowledge that the use of Certidrill is at their own risk, and Certidrill, its owners, and affiliates shall not be held liable for any direct, indirect, incidental, special, or consequential damages arising from the use of our services.
                    </p>
                    <p>
                        b. Certidrill provides educational content and quizzes for informational purposes, and users understand that their performance in Certidrill quizzes is not a definitive predictor of success in exams, job interviews, or certifications.
                    </p>

                <h6>4.2 Performance Outcomes:</h6>

                    <p>
                        a. Certidrill does not guarantee specific outcomes based on quiz performance. Users understand that success in exams, job interviews, or certifications is influenced by various factors, including additional study, real-world application of knowledge, and external circumstances.
                    </p>
                    <p>
                        b. Certidrill is not responsible for any outcomes, favorable or unfavorable, that may result from the use of our application.
                    </p>

                <h6>4.3 External Circumstances:</h6>

                    <p>
                        a. Certidrill shall not be liable for external circumstances that may affect a user's ability to access or use our services. This includes but is not limited to internet connectivity issues, device malfunctions, or disruptions in service.
                    </p>
                    <p>
                        b. Certidrill is not responsible for any interruptions, delays, or discontinuation of services due to external factors beyond our control.
                    </p>

                <h6>4.4 Third-Party Content:</h6>

                    <p>
                        a. Certidrill may provide links to third-party websites or integrate third-party content into our platform. We disclaim any responsibility for the accuracy, completeness, or legality of such third-party content.
                    </p>
                    <p>
                        b. Users access third-party content at their own risk, and Certidrill is not liable for any damages or losses arising from the use of third-party content.
                    </p>

                <h6>4.5 Statutory Limitations:</h6>

                    <p>
                        a. To the extent permitted by applicable law, Certidrill's liability for any claims arising from the use of our services is limited to the amount paid by the user for the specific service giving rise to the claim.
                    </p>
                    <p>
                        b. Certidrill and its affiliates shall not be liable for any indirect, consequential, or punitive damages.
                    </p>

                <h6>4.6 Indemnification:</h6>

                    <p>
                        a. Users agree to indemnify and hold Certidrill, its owners, and affiliates harmless from any claims, damages, or expenses arising from their use of Certidrill, violation of these terms, or infringement of any intellectual property or privacy rights.
                    </p>

                <h6>4.7 Exceptions to Limitations:</h6>

                    <p>
                        a. Some jurisdictions do not allow the exclusion or limitation of certain liabilities. In such cases, the limitations outlined in this section may not apply to users to the extent prohibited by law.
                    </p>
                    <p>
                        b. Users should consult the laws of their jurisdiction to understand their rights and any limitations on liability that may apply.
                    </p>

                    <p>
                        By using Certidrill, users acknowledge and agree to the limitations of liability outlined in this section. If users have questions or concerns regarding these limitations, they are encouraged to contact us at <b><a href="mailto:contact@certidrill.com?subject=Terms%20And%20Conditions">contact@certidrill.com</a></b>
                    </p>       

            <h5>5. Data Security Measures</h5>

                    <p>
                        At Certidrill, we prioritize the security and privacy of our users' data. This section outlines the comprehensive data security measures implemented to safeguard user information and maintain the integrity of our platform.
                    </p>


                <h6>5.1 Encryption and Transmission:</h6>

                    <p>
                        a. Certidrill employs industry-standard encryption protocols to secure the transmission of data between users and our servers. This includes the use of secure socket layer (SSL) technology for encrypting data in transit.
                    </p>
                    <p>
                        b. User interactions with Certidrill, including quiz submissions and account information updates, are protected through encryption to prevent unauthorized access.
                    </p>

                <h6>5.2 Storage Security:</h6>

                    <p>
                        a. User data is stored in secure databases with restricted access. Certidrill employs access controls, firewalls, and intrusion detection systems to prevent unauthorized access to user information.
                    </p>
                    <p>
                        b. Personal and sensitive data, such as passwords and payment information, is hashed or encrypted in storage to add an additional layer of protection.
                    </p>

                <h6>5.3 Regular Security Audits:</h6>

                    <p>
                        a. Certidrill conducts regular security audits and assessments to identify and address potential vulnerabilities in our systems.
                    </p>
                    <p>
                        b. External security experts may be engaged to perform independent security audits to ensure the effectiveness of our security measures.
                    </p>

                <h6>5.4 Employee Training and Access Control:</h6>

                    <p>
                        a. Certidrill employees undergo training on data security and privacy best practices. Access to user data is restricted to authorized personnel with a legitimate need for such access.
                    </p>
                    <p>
                        b. Employees are bound by confidentiality agreements to protect user data and are regularly briefed on emerging security threats.
                    </p>


                <h6>5.5 Incident Response and Notification:</h6>

                    <p>
                        a. In the event of a data security incident, Certidrill has established incident response procedures to contain, investigate, and mitigate the impact of the incident.
                    </p>
                    <p>
                        b. If required by applicable laws, Certidrill will promptly notify affected users and relevant authorities of any data security breaches.
                    </p>

                <h6>5.6 Third-Party Security:</h6>

                    <p>
                        a. Certidrill works with trusted third-party service providers who adhere to high-security standards. These providers are carefully selected based on their commitment to data security and privacy.
                    </p>
                    <p>
                        b. Third-party services integrated into Certidrill undergo rigorous security assessments before integration.
                    </p>
                    <p>
                        c. We encourage you to review these policies to ensure a comprehensive understanding of data handling practices.
                    </p>

                <h6>5.7 User Authentication and Access Management:</h6>

                    <p>
                        a. Certidrill employs robust user authentication mechanisms to ensure that only authorized users have access to their accounts.
                    </p>
                    <p>
                        b. Access management controls are in place to restrict user access based on roles and permissions.
                    </p>

                <h6>5.8 Data Backups:</h6>

                    <p>
                        a. Certidrill regularly backs up user data to prevent data loss in the event of unexpected incidents.
                    </p>
                    <p>
                        b. Backups are stored securely, and data restoration processes are regularly tested to ensure their effectiveness.
                    </p>   
 

                <h6>5.9 No Absolute Guarantee:</h6>

                    <p>
                        a. The nature of online platforms involves inherent risks, and despite our diligent efforts, unforeseen circumstances or malicious activities beyond our control may pose a threat to the security of your data.
                    </p>
                    <p>
                        b. Certidrill does not provide an absolute guarantee of the security of your information. While we strive to maintain the highest standards, the dynamic nature of technology and potential vulnerabilities in any system mean that complete security cannot be assured.
                    </p> 

                <h6>5.10 User Responsibility:</h6>

                    <p>
                        a. Users play a vital role in data security. It is their responsibility to maintain the confidentiality of their account credentials and use secure practices when accessing Certidrill.
                    </p>
                    <p>
                        b. Users should promptly report any suspicious activities or potential security concerns to Certidrill.
                    </p>  

                <h6>5.11 Changes and Updates:</h6>

                    <p>
                        a. Certidrill may update its security measures based on evolving threats and technological advancements.
                    </p>
                    <p>
                        b. Users are encouraged to stay informed about changes in Certidrill's security practices.
                    </p>  

                <h5>6. User Responsibility</h5>

                    <p>
                        Certidrill values user engagement and learning autonomy. This section outlines the responsibilities that users undertake when using the Certidrill platform, emphasizing collaborative efforts to create a secure, respectful, and effective educational environment.
                    </p>

                    <h6>6.1 Account Security:</h6>

                        <p>
                            a. Users are responsible for maintaining the confidentiality of their account credentials, including usernames and passwords.
                        </p>
                        <p>
                            b. Any activities conducted under a user's account are deemed their responsibility.
                        </p> 
                        
                    <h6>6.2 Compliance with Terms:</h6>

                        <p>
                            a. Users agree to comply with all terms, conditions, and policies outlined by Certidrill, ensuring respectful and lawful use of the platform.
                        </p>
                        <p>
                            b. Violation of terms may result in account termination or other corrective actions at Certidrill's discretion.
                        </p>  

                    <h6>6.3 Reporting Concerns:</h6>

                        <p>
                            a. Users are encouraged to promptly report any suspected security breaches, unauthorized account access, or inappropriate content to Certidrill.
                        </p>
                        <p>
                            b. Timely reporting contributes to a safer and more secure learning environment for all users.
                        </p>  

                    <h6>6.4 Respect for Others:</h6>

                        <p>
                            a. Users must respect the rights, privacy, and dignity of other users on the platform.
                        </p>
                        <p>
                            b. Inappropriate behavior, including harassment, hate speech, or any form of discrimination, is strictly prohibited.
                        </p>  

                    <h6>6.5 Compliance with Laws:</h6>

                        <p>
                            a. Users agree to comply with all applicable laws and regulations while using Certidrill.
                        </p>
                        <p>
                            b. Any unlawful activities, including the infringement of intellectual property rights, are strictly prohibited.
                        </p>

                    <h6>6.6 Data Accuracy:</h6>

                        <p>
                            a. Users are responsible for providing accurate and up-to-date information when creating and updating their profiles on Certidrill.
                        </p>
                        <p>
                            b. Accurate information ensures the effectiveness of features such as quiz results and analytics.
                        </p>  

                    <h6>6.7 Personal Study Strategy:</h6>

                        <p>
                            a. Users acknowledge that Certidrill is a supplementary study tool and should be used in conjunction with other study materials for a comprehensive exam, job interview, or certification preparation strategy.
                        </p>
                        <p>
                            b. Personal study habits, additional coursework, and real-world application of knowledge contribute to a well-rounded exam preparation, job interview, or certification approach.
                        </p>  

                    <h6>6.8 Acceptance of Limitations:</h6>

                        <p>
                            a. Users understand the limitations of Certidrill, including the non-guarantee of exam, job interview, and certification coverage and data security.
                        </p>
                        <p>
                            b. Users acknowledge that Certidrill serves as an educational resource and does not replace professional advice or study practices.
                        </p>  

                        <p>
                            By using Certidrill, users accept and commit to the responsibilities outlined in this section. If users have questions or concerns regarding their responsibilities or any aspect of using Certidrill, they are encouraged to contact us at <b><a href="mailto:contact@certidrill.com?subject=Terms%20And%20Conditions">contact@certidrill.com</a></b>
                        </p>
                        
                        
                    <h5>7. Termination and Suspension of Access</h5>

                        <p>
                            Certidrill strives to maintain a positive and secure learning environment for all users. This section outlines the circumstances under which Certidrill may terminate or suspend user access to the platform and the associated procedures.
                        </p>

                        <h6>7.1 Grounds for Termination or Suspension:</h6>

                        <p>
                            a. Certidrill reserves the right to terminate or suspend user access to the platform for any violation of the terms, conditions, or policies outlined by Certidrill.
                        </p>
                        <p>
                            b. Violations include but are not limited to unauthorized use, breach of security, harassment, hate speech, discrimination, or any other activity that violates applicable laws.
                        </p>                       

                    <h6>7.2 Notice of Termination or Suspension:</h6>

                        <p>
                            a. In most cases, Certidrill will provide users with notice of the termination or suspension of their access. Notice may be delivered through email or other means of communication available to Certidrill.
                        </p>
                        <p>
                            b. However, Certidrill reserves the right to terminate or suspend access without notice if immediate action is required to address a violation or security concern.
                        </p>  

                    <h6>7.3 Appeal Process:</h6>

                        <p>
                            a. Users who believe their access has been terminated or suspended unfairly may appeal the decision by contacting Certidrill.
                        </p>
                        <p>
                            b. Certidrill will review appeals promptly and may reinstate access if the user's claims are substantiated.
                        </p> 

                    <h6>7.4 Effect of Termination or Suspension:</h6>

                        <p>
                            a. Upon termination or suspension of access, users must cease all use of Certidrill immediately.
                        </p>
                        <p>
                            b. Certidrill may remove or disable access to any content contributed by the user.
                        </p> 

                    <h6>7.5 No Liability for Termination:</h6>

                        <p>
                            a. Certidrill disclaims liability for any consequences resulting from the termination or suspension of user access.
                        </p>
                        <p>
                            b. Users acknowledge that termination or suspension may occur in response to violations of terms or other platform policies.
                        </p> 

                    <h6>7.6 Repeat Violations:</h6>

                        <p>
                            a. Certidrill may take additional measures, including permanent termination of access, in cases of repeated violations.
                        </p>
                        <p>
                            b. Users are responsible for adhering to platform policies to maintain continued access.
                        </p>
                        <p>
                            By using Certidrill, users agree to comply with the termination and suspension policies outlined in this section. If users have questions or concerns regarding access termination, they are encouraged to contact us at <b><a href="mailto:contact@certidrill.com?subject=Terms%20And%20Conditions">contact@certidrill.com</a></b>
                        </p>

                <h5>8. Jurisdiction and Applicable Law</h5>

                <p>
                    Certidrill, a SaaS based in Tangier, Morocco, adheres to a legal framework ensuring transparency and fairness for its users:
                </p>

                <h6>8.1 Governing Law:</h6>

                    <p>
                        a. Certidrill operates under the laws of the Kingdom of Morocco, without regard to its conflict of law principles.
                    </p>
                    <p>
                        b. Legal actions or disputes arising from the use of Certidrill will be subject to the laws of the Kingdom of Morocco.
                    </p>

                <h6>8.2 Jurisdiction:</h6>

                    <p>
                        a. Users consent that legal actions or proceedings related to Certidrill shall be exclusively brought before the competent courts in Tangier, Morocco.
                    </p>
                    <p>
                        b. Users acknowledge the personal jurisdiction of these courts for any such legal actions.
                    </p>

                <h6>8.3 International Users:</h6>

                    <p>
                        a. Users accessing Certidrill from outside Morocco are responsible for compliance with their local laws.
                    </p>
                    <p>
                        b. Certidrill does not represent that its content or services are suitable or available for use in jurisdictions where such use is prohibited by local law.
                    </p>

                <h6>8.4 Changes to Jurisdiction and Law:</h6>

                    <p>
                        a. Certidrill may update the governing law and jurisdiction in response to legal developments or changes in the platform's operations.
                    </p>
                    <p>
                        b. Users are responsible for staying informed about changes to the governing law and jurisdiction.
                    </p>

                <h6>8.5 Dispute Resolution:</h6>

                    <p>
                        a. Certidrill encourages users to attempt to resolve disputes informally by contacting Certidrill first.
                    </p>
                    <p>
                        b. In case of a dispute that cannot be resolved informally, users and Certidrill agree to arbitration in accordance with Moroccan laws before considering litigation.
                    </p>   

                <h6>8.6 Waiver of Class Action:</h6>

                    <p>
                        a. Users and Certidrill agree that any claims or disputes will be brought in an individual capacity without participation in a class action or representative proceeding.
                    </p>
                    <p>
                        b. Users waive the right to seek relief on a class-wide basis.
                    </p>  
                    <p>
                        By using Certidrill, users agree to comply with the jurisdiction and applicable law policies outlined in this section. If users have questions or concerns regarding these policies, they are encouraged to contact Certidrill at <b><a href="mailto:contact@certidrill.com?subject=Terms%20And%20Conditions">contact@certidrill.com</a></b>
                    </p>  

      </div>


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  {% include 'landing/widgets/footer.html' %}
  <!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  {% include 'landing/widgets/scripts.html' %}


</body>

<style>

section
{
  padding: 20px;
}
h5
{
 color: #366994;
 font-size:1.5em;
 font-weight:600;
}
h6
{
 color: black;
 font-size:1.2em;
 font-weight:600;
}


</style>

</html>